AZURE_COSMOS_URL=
AZURE_COSMOS_KEY=
AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_MINI=
AZURE_OPENAI_DEPLOYMENT_FULL=
AZURE_OPENAI_DEPLOYMENT=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_BLOB_CONTAINER_NAME=photos
TAVILY_API_KEY=
INSTAGRAM_ACCESS_TOKEN=
ONEDRIVE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
FRONTEND_URL=http://localhost:3000
# AZURE_OPENAI_EMBEDDING_DEPLOYMENT  - text-embedding-ada-002 등